{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}



{% block content %}

  <div class="col-md-12">
    1
    lesson:
    <select id="select-lesson">
      <option value="">--</option>
      {% for lesson in lessons %}
        <option value="{{ lesson.id }}">{{ lesson.get_long_name }}</option>
      {% endfor %}
    </select>

    <br/>

  </div>

  <div class="col-md-12">
    day:<br>
    {% for i in days %}
      <input type="radio" id="{{ i| date:'c' }}" name="select-day" value="{{ i | date:'c' }}">
      <label for="{{ i | date:'c' }}">{{ i | date:'SHORT_DATE_FORMAT' }}</label>
    {% endfor %}
    <br><br>

    start hour:
    <select id="select-starthour" name="teacher" size=10>
      <option value="">--</option>
    </select>


    end hour:
    <select id="select-endhour" name="teacher" size=10>
      <option value="">--</option>
    </select>
  </div>


  <button id="send_add_slot">olustur</button>
{% endblock %}


{% block extra_js %}
  <script src="{% static "js/add_course.js" %}" crossorigin="anonymous"></script>
{% endblock %}
