{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
{% endblock %}



{% block content %}
  <h2 class="mx-auto m-3">Öğrencinin aldığı dersler</h1>
  <div class="table-responsive">
    <table id="table_id" class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Departman Adı</th>
          <th>Sınıf Adı</th>
          <th>Dersin Dili</th>
          <th>Dersin Adı</th>
          <th>Öğretmen Adı</th>
          <th>Derece</th>
          <th>Kurs Bedeli</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payments %}
          <tr>
            <td>{{ payment.lesson.classroom.department }}</td>
            <td>{{ payment.lesson.classroom.name }}</td>
            <td>{{ payment.lesson.language }}</td>
            <td>{{ payment.lesson.name }}</td>
            <td>{{ payment.lesson.teacher.user.username }}</td>
            <td>{{ payment.lesson.degree }}</td>
            <td>{{ payment.amount }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2 class="mx-auto m-3">Öğrencinin borç bilgisi</h1>
    <div class="table-responsive">
      <table id="table_id" class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Departman Adı</th>
            <th>Sınıf Adı</th>
            <th>Dersin Adı</th>
            <th>Taksit Ücreti</th>
            <th>Ödenme Bilgisi</th>
          </tr>
        </thead>
        <tbody>
          {% for installment in installments %}
            <tr>
              <td>{{ installment.payment.lesson.classroom.department }}</td>
              <td>{{ installment.payment.lesson.classroom.name }}</td>
              <td>{{ installment.payment.lesson.name }}</td>
              <td>{{ installment.amount }}</td>
              {% if installment.is_paid %}
                <td>Ödenmiş</td>
              {% else %}
                <td>Ödenmemiş</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}


{% block extra_js %}
{% endblock %}
